<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jesse Bakenhus</title>
	</head>
	<body class="bg-white dark:bg-black">
	  <div class="flex justify-center items-center mx-auto max-w-7xl h-screen px-8 py-12 lg:pt-24">
		<div class="mx-auto max-w-xl">
    	  <div class="md:flex md:items-center md:justify-center">
			<div class="flex items-center space-x-5">
			  <div class="flex-shrink-0">
				<div class="relative">
				  <img class="rounded-full border border-white/10 h-16 lg:h-24 lg:w-24 w-16" src="https://avatars.githubusercontent.com/u/92591280?v=4" alt="Avatar">
				  <span aria-hidden="true" class="rounded-full absolute inset-0 shadow-inner"></span>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</body>
</html>
